.atua{
    list-style-type: none; 
    font-size: 18px;
    text-align: justify;
    color: white;
} 
.text-yellow{
    color: #a4002d;
}
a.text-yellow:hover{
    color: #600009;
}
.text-red{
    color: #ffffff;
}
.bg-yellow{
    background-color: #a4002d;
}
.bg-red{
    background-color: #ffffff;
}
